div {
    display: inline-block; /* Отображение в строку */
    vertical-align: top; /* Выравнивание по верхнему краю */
    margin-right: 20px; /* Отступ справа для разделения информации и изображения */
}