/* Цвета константы */
$font-standart: #EEE5D3;
// цвета по выбору
// голубой
$font-blue: #C4DFFA;
// зеленый
$font-green: #D8E4E0;
// розовый
$font-pink: #ECCFC1;

// переменные для шрифтов
// основной шрифт на странице
$font-main: 'Raleway', sans-serif;
// шрифт для заголовков
$font-accent: 'Playfair Display', serif;
//шрифт для остального
$font-secondary:'Roboto', sans-serif;